# **Sesión 01: Estimados de Locación y Variabilidad**

***
***
***

## **Work**

## **Sesión 01: Estimados de Locación y Variabilidad**

### **1. Objetivos**

- Utilizar Google Colab en conjunción con Google Drive y Github.
- Identificar los tipos de datos estructurados existen.
- Identificar los estimados de locación y en qué momento son útiles.
- Identificar valores típicos y atípicos.
- Realizar cálculos estadísticos robustos.
- Identificar los estimados de variabilidad y en qué momento son útiles.
- Identificar los estadísticos de orden.

### **2. Contenido**

**Utilización de software**

Antes que nada, vamos a asegurarnos de que las siguientes cosas estén resueltas:

a) Todos tenemos una cuenta en Google Drive. b) Todos hemos creado un Acceso Directo desde la carpeta [Datasets](https://drive.google.com/drive/u/0/folders/1WTz3IbVkPlSOTFFVyCVLx8PlH6gN3Cby) a nuestro Drive. c) Todos sabemos cómo montar nuestro Google Drive en un Notebook de Google Colab y leer nuestros conjuntos de datos usando `pandas`. d) Todos sabemos cómo leer Jupyter Notebooks desde el repositorio del módulo en Google Colab.

> Las instrucciones para hacer todo esto están en el Prework de la sesión


---


**Datos estructurados**

Hay dos grandes categorías de datos que manejamos en Ciencia de Datos: datos estructurados y datos no estructurados. Por el momento sólo vamos a hablar sobre datos estructurados. Los datos estructurados pueden subdividirse de la siguiente manera:

1. Numéricos: Datos representados por números que pueden tomar una cantidad no predefinida de valores. a) Discretos: Datos que sólo pueden tomar el valor de un número entero. b) Continuos: Datos que pueden toman cualquier valor dentro de un intervalo.
2. Categóricos: Datos que sólo pueden tomar un conjunto específico de valores que representan un conjunto de posibles categorías. a) Binarios: Datos categóricos que sólo tienen dos categorías posibles. b) Ordinales: Datos categóricos que tienen un orden explícito.

> Hay que dar varios ejemplos sobre cada uno de estos tipos de datos para que los alumnos puedan generalizar hacia otras posibilidades. El primer Reto consiste justamente en clasificar diversos conjuntos de datos en alguna de las categorías de datos estructurados. Recomiendo que el Reto se haga en equipos o que al final se realice un debate donde todos puedan compartir sus hipótesis.

## Reto 1: Datos estructurados

### 1. Objetivos:
    - Aprender a diferenciar los diferentes tipos de datos estructurados que existen.
 
---
    
### 2. Desarrollo:

In [ ]:
import pandas as pd

### a) Identificando datos estructurados

A continuación verás varias muestras de datos y sus descripciones. Asígnales una de las categorías de datos estructurados que acabas de aprender. Después, comparte tus hipótesis con la experta y con tus compañeros.

Es muy importante saber identificar tipos de datos estructurados, porque las técnicas y estrategias que aprenderás durante este módulo suelen estar dirigidas hacia un tipo de dato específico. La elección de las mejores herramientas viene después de entender a qué tipo de dato nos estamos enfrentando.

#### - Muestra 1: Extraída de un conjunto de datos que contiene edades de personas

In [ ]:
edades = pd.Series([23, 34, 4, 45, 52, 59, 23, 48, 50, 49, 3, 4, 6, 8, 79, 6, 40, 17, 34, 4, 67, 97, 87, 65, 24, 4, 46])

¿Qué tipo de dato estructurado tenemos en la serie `edades`?   
**Numérico discreto**

#### - Muestra 2: Extraída de un conjunto de datos que contiene evaluaciones de restaurantes hechas por usuarios de una app

In [ ]:
evaluaciones = pd.Series([1, 4, 2, 2, 3, 5, 4, 4, 4, 5, 1, 2, 2, 3, 5, 2, 4, 3, 3, 1, 5, 5, 2, 4, 3, 3, 4, 4, 5, 1, 2])

¿Qué tipo de dato estructurado tenemos en la serie `evaluaciones`?

**Categórico ordinal**

#### - Muestra 3: Extraída de un conjunto de datos que contiene códigos de respuesta HTTP obtenidos al realizar llamadas constantes a una API

In [ ]:
codigos = pd.Series([400, 400, 200, 200, 201, 200, 201, 400, 201, 404, 400, 200, 200, 201, 200, 201, 201, 500, 400, 200])

¿Qué tipo de dato estructurado tenemos en la serie `codigos`?

**Categórico nominal**

#### - Muestra 4: Extraída de un conjunto de datos que contiene mediciones precisas de temperaturas ambientales hechas durante un verano de la CDMX

In [ ]:
temperaturas = pd.Series([22.45, 21.34, 20.23, 20.34, 25.54, 24.34, 18.23, 19.35, 18.24, 25.5, 24.33, 20.19, 21.45, 22.45])

¿Qué tipo de dato estructurado tenemos en la serie `temperaturas`?

**Numérico continuo**

#### - Muestra 5: Extraída de un conjunto de datos que contiene resultados de una encuesta cuyas únicas posibles respuestas eran "sí" y "no"

In [ ]:
encuesta = pd.Series([0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0])

¿Qué tipo de dato estructurado tenemos en la serie `encuesta`?

**Categórico dicotómico o binario**

***
***

**Estimados de locación**

Los estimados de locación nos sirven para determinar qué valor describe mejor un conjunto de datos. A este valor le llamamos el "valor típico" de nuestro conjunto. Dos estimados son los más comunes y lo más utilizados:

1. Promedio (o media)
2. Mediana

Veamos cómo se calculan usando `pandas`.

## Ejemplo 1: Estimados de Locación

### 1. Objetivos:
    - Aprender a calcular estimados de locación utilizando `pandas`.
 
---
    
### 2. Desarrollo:

Vamos a utilizar un primer dataset para aprender a calcular estimados de locación usando `pandas`.

El dataset que usaremos en esta sesión contiene información acerca de propiedades que estuvieron (o están) en venta en la ciudad de Melbourne, Australia. El dataset contiene las características físicas de la propiedad, su locación, el tipo de vivienda que es y el precio de la propiedad.

Vamos a analizar la variable precio para entender cómo están distribuidos los precios de propiedades en esta ciudad.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/BEDU2023F3/Remoto_Datasets/Remoto melbourne_housing-clean.csv', index_col=0)

In [ ]:
df.head()

,suburb,address,rooms,type,price,method,seller_g,date,distance,postcode,bedroom_2,bathroom,car,land_size,council_area,latitude,longitude,region_name,property_count
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

### La media o promedio

La media o promedio se obtiene sumando todos los valores de un conjunto de datos numéricos y dividiéndolos entre la cantidad de valores que tenemos en nuestro conjunto.

Vamos a analizar la columna `price`. Veamos cuál es el "valor típico" obtenido usando la media (promedio):

In [ ]:
df['price'].mean()

1068141.895071269

### La mediana

La mediana se obtiene de la siguiente manera:

1. Primero ordenamos de manera ascendente nuestros datos
2. Luego tomamos el valor que está justo en medio de nuestra secuencia ordenada de valores.
3. Si nuestro conjunto tiene un número par de valores y por lo tanto no tiene un valor justo a la mitad de la secuencia, se toma el promedio de los dos valores que se encuentran a la mitad de la secuencia.

Ahora veamos el "valor típico" obtenido usando la mediana:

In [ ]:
df['price'].median()

895500.0

Hemos obtenido valores distintos. Más adelante vamos a aprender qué significa esto y cómo podemos determinar si esta diferencia es relevante o no.

***

## Reto 2: Estimados de locación

### 1. Objetivos:
    - Practicar el uso de estimados de locación
 
---
    
### 2. Desarrollo:

#### a) Estimados de locación de diámetros de meteoritos

Vamos a utilizar los métodos de pandas para obtener estimados de locación de un conjunto de datos que contiene información acerca de objetos que orbitaron cerca de la Tierra durante el periodo de enero y febrero de 1995.

El dataset se llama 'near_earth_objects-jan_feb_1995-clean.csv' y la columna que vamos a analizar se llama 'estimated_diameter.meters.estimated_diameter_max'. Esta columna contiene el diámetro máximo estimado de cada objeto.

El reto es el siguiente:

1. Lee el dataset usando `pandas`.
2. Obtén el promedio y la mediana usando las funciones de pandas y asígnalas a `promedio_diametro` y `mediana_diametro`.
3. Corre la celda que contiene el código para verificar tus resultados.
4. Responde la pregunta que te regresa la función de verificación.

In [ ]:
# Lee el dataset y asígnalo a esta variable

df_meteoritos = pd.read_csv('/content/drive/MyDrive/BEDU2023F3/Remoto_Datasets/Remoto near_earth_objects-jan_feb_1995-clean.csv', index_col=0)
df_meteoritos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 332
Data columns (total 10 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   id                                                333 non-null    int64
 1   name                                              333 non-null    object
 2   is_potentially_hazardous_asteroid                 333 non-null    bool
 3   estimated_diameter.meters.estimated_diameter_min  333 non-null    float64
 4   estimated_diameter.meters.estimated_diameter_max  333 non-null    float64
 5   close_approach_date                               333 non-null    object
 6   epoch_date_close_approach                         333 non-null    int64
 7   orbiting_body                                     333 non-null    object
 8   relative_velocity.kilometers_per_second           333 non-null    float64
 9   relative_velocity.kilometers_per_hour             333 non-null    float64
dtypes: bool(1), float64(4), int64(2), object(3)
memory usage: 26.3+ KB

In [ ]:
promedio_diametro = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].sum() / df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].count()
promedio_diametro

410.08604223976545

In [ ]:
def mediana(data):
    import numpy as np

    data_ordenada = data.sort_values(ascending=True)
    n = data.count()

    if n % 2 == 0:
        abajo =int(n / 2)
        arriba = int(abajo + 1)
        return (data_ordenada.iloc[abajo] + data_ordenada.iloc[arriba]) / 2
    else:
        index = int(np.ceil(n / 2))
        return data_ordenada.iloc[index]

mediana(df_meteoritos['estimated_diameter.meters.estimated_diameter_max'])

215.7943048444

In [ ]:
# Pídele al experto la función `verificar_resultados` para que puedas correr la siguiente verificación

def verificar_resultados(df_meteoritos, promedio_diametro, mediana_diametro):
    promedio = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean()
    if promedio_diametro != promedio:
        print(f'El promedio no fue calculado correctamente.')
        print(f'Promedio esperado: {promedio}; Promedio recibido: {promedio_diametro}')
        return
        

    mediana = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].median()
    if mediana_diametro != mediana:
        print(f'La mediana no fue calculada correctamente.')
        print(f'Mediana esperada: {mediana}; Mediana recibida: {mediana_diametro}')
        return
        
    print(f'Los estimados fueron calcualados correctamente.\n')
    print(f'El promedio calculado fue de {promedio_diametro} mientras que la mediana fue de {mediana_diametro}.')
    print(f'¿A qué le atribuyes tú la diferencia?')

verificar_resultados(df_meteoritos, promedio_diametro, mediana_diametro)

Los estimados fueron calcualados correctamente.

El promedio calculado fue de 410.08604223976545 mientras que la mediana fue de 215.7943048444.
¿A qué le atribuyes tú la diferencia?

---
---

**Valores atípicos**

Hemos aprendido a conseguir "valores típicos" se sirven para describir un conjunto de datos. Así como existen valores que se parecen a la norma, hay también valores que difieren mucho de la norma. Estos valores suelen sobresalir de nuestro conjunto de datos porque se encuentran a mucha distancia del grueso de las muestras.

Estos valores son los "valores atípicos". Hay veces en las que tener valores atípicos no nos preocupa, pero otras veces pueden ser peligrosos porque modifican nuestros estimados de locación, dándonos descripciones erróneas de nuestro conjunto de datos.

Más adelante aprenderemos a detectar valores atípicos, pero por lo pronto vamos a aprender un estimado de locación que es más robusto (menos sensible a valores atípicos) que el promedio y la mediana: la media truncada.

## Ejemplo 2: Media Truncada

### 1. Objetivos:
    - Aprender a estimar la media truncada usando scipy.
 
---
    
### 2. Desarrollo:

La media truncada es un estimado de locación más *robusto* que el promedio y la mediana. Esto significa que es menos sensible a valores atípicos. La media truncada se obtiene de la siguiente manera:

1. Primero ordenamos nuestro conjunto de manera ascendente.
2. Después decidimos qué porcentaje de nuestros datos vamos a truncar. Los valores más comunes suelen variar entre 5% y 25%.
3. Divide el porcentaje acordado entre dos y elimina esa fracción de tus datos del inicio y del final de tu secuencia. Por ejemplo, si decides truncar un 5%, elimina el 2.5% de tus datos del inicio de tu secuencia y el otro 2.5% del final de tu secuencia.
4. Obtén el promedio de los valores restantes.

Afortunadamente, no tenemos que hacer esto manualmente. La librería `scipy` ya ofrece un método para obtener la media truncada fácilmente:

In [ ]:
from scipy import stats
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/BEDU2023F3/Remoto_Datasets/Remoto melbourne_housing-clean.csv', index_col=0)

In [ ]:
df.head()

,suburb,address,rooms,type,price,method,seller_g,date,distance,postcode,bedroom_2,bathroom,car,land_size,council_area,latitude,longitude,region_name,property_count
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
stats.trim_mean(df['price'], 0.1)

973653.7960935823

Si obtenemos el promedio y la mediana podemos observar que la distancia entre la media truncada y la mediana es menor que la distancia entre el promedio y la mediana. Esto podría ser indicador de que tenemos valores atípicos en nuestro conjunto. Ya aprendemos después cómo determinar si esto es cierto o no.

In [ ]:
df['price'].mean()

1068141.895071269

In [ ]:
df['price'].median()

895500.0

***
***

**Estimados de variabilidad**

Los estimados de locación se utilizan para intentar encontrar un "valor típico" que describa adecuadamente nuestro conjunto de datos. Los estimados de variabilidad, en cambio, nos sirven para determinar qué tan dispersos están los datos alrededor de nuestro valor típico. Nuestros datos pueden estar en general o muy cerca o muy distantes del valor típico, y los estimados de variabilidad nos ayudan a determinar esto.


Uno de los estimados más utilizados es la desviación estándar. Veamos cómo funciona.

## Ejemplo 3: Desviación estándar

### 1. Objetivos:
    - Aprender cómo se calcula la desviación estándar
    - Aprender a usar `pandas` para calcularla
 
---
    
### 2. Desarrollo:

Para obtener la desviación estándar se llevan a cabo los siguientes pasos:

1. Primero se obtiene el promedio de nuestros datos.
2. Después sacamos todas las diferencias entre cada valor de nuesrto conjunto y nuestro valor típico.
3. Después elevamos todos los resultados al cuadrado.
4. Luego se suman todos estos valores.
5. Luego se dividen entre la cantidad de valores - 1.
6. Finalmente se saca la raíz cuadrada del valor resultante.

`pandas` tiene un método con el que podemos calcular la desviación estándar rápidamente:

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/BEDU2023F3/Remoto_Datasets/Remoto melbourne_housing-clean.csv', index_col=0)

In [ ]:
df.head()

,suburb,address,rooms,type,price,method,seller_g,date,distance,postcode,bedroom_2,bathroom,car,land_size,council_area,latitude,longitude,region_name,property_count
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
df['price'].std()

643728.1914372843

Entre mayor sea nuestro resultado quiere decir que nuestros datos están más dispersos (es decir, hay muchos datos que se alejan de nuestro valor típico); entre menor sea el resultado quiere decir que nuestros datos están menos dispersos (es decir, están más cerca de nuestro valor típico).

Obviamente hay que tomar en cuenta el rango de nuestros valores para determinar si nuestra desviación estándar es pequeña o grande. Por ejemplo, una desviación estándar de 10 es muy pequeña si nuestros valores tienen un rango de 1 000 000. En cambio, una desviación estándar de 10 es mucho mayor si nuestros valores tienen un rango de 40.

## Reto 3: Desviación estándar

### 1. Objetivos:
    - Utilizar la desviación estándar para realizar un análisis de dispersión de nuestros datos
 
---
    
### 2. Desarrollo:

#### a) Desviación estándar y distribución de los datos

Como ya vimos, la desviación estándar es la medida que nos da la "desviación típica" (o esperada) de nuestros datos a comparación del promedio. Eso quiere decir que normalmente vamos a esperar que una gran parte de nuestros datos se encuentren a 1 desviación estándar de distancia del promedio. Entre más nos alejamos, menos muestras deberíamos de encontrar.

Vamos a comprobar esto usando nuestro dataset de meteoritos que orbitan cerca de la Tierra. Tu Reto consiste en los siguientes pasos:

1. Crea un DataFrame con el dataset 'near_earth_objects-jan_feb_1995-clean.csv'.
2. Obtén la cantidad total de muestras en tu DataFrame.
3. Obtén la desviación estándar de la columna 'estimated_diameter.meters.estimated_diameter_max'. Los siguientes pasos realízalos todos utilizando esta columna.
4. Obtén el porcentaje de muestras que están a una distancia de 1 desviación estándar del promedio.
5. Obtén el porcentaje de muestras que están a una distancia de 2 desviaciones estándares del promedio.
6. Obtén el porcentaje de muestras que están a una distancia de 3 desviaciones estándares del promedio.
7. Compara los porcentajes obtenidos y comenta con tus compañeros y la experta tus hallazgos. ¿Qué significa esto? ¿La definición de desviación estándar tiene sentido? ¿Qué puedo inferir acerca de la dispersión de mis datos a partir de los valores obtenidos?

> Nota: Para obtener los porcentajes de los subconjuntos primero necesitas filtrar el DataFrame original para que sólo permanezcan las muestras que cumplan con los requisitos.

> Nota: Este Reto está diseñado para tener una dificultad media. No te frustres si al principio parece demasiado difícil. Comienza poco a poco, resolviendo el problema en pedazos pequeños, y si no tienes la menor idea de cómo proceder recuerda que la experta está ahí para ayudarte.

In [ ]:
### Tu código va aquí
##
## 1. Crea un DataFrame con el dataset 'near_earth_objects-jan_feb_1995-clean.csv'.
df_meteoritos = pd.read_csv('/content/drive/MyDrive/BEDU2023F3/Remoto_Datasets/Remoto near_earth_objects-jan_feb_1995-clean.csv', index_col=0)
df_meteoritos.head(3)

,id,name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour
0,2154652,154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,789467580000,Earth,16.142864,58114.308667
1,3153509,(2003 HM),True,96.506147,215.794305,1995-01-07,789491340000,Earth,12.351044,44463.757734
2,3516633,(2010 HA),False,44.111820,98.637028,1995-01-07,789446820000,Earth,6.220435,22393.567277

In [ ]:
## 2. Obtén la cantidad total de muestras en tu DataFrame.
total_muestras = df_meteoritos.shape[0] 
total_muestras

333

In [ ]:
## 3. Obtén la desviación estándar de la columna 'estimated_diameter.meters.estimated_diameter_max'. Los siguientes pasos realízalos todos utilizando esta columna.
desv_est = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].std()
desv_est

614.6915918552232

In [ ]:
## 4. Obtén el porcentaje de muestras que están a una distancia de 1 desviación estándar del promedio.
media = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean()
media

410.08604223976545

In [ ]:
menos_una_desv_est = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'] >= (media - desv_est)
mas_una_desv_est = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'] <= (media + desv_est)
dentro_de_masmenos_una_desv_est = df_meteoritos[menos_una_desv_est & mas_una_desv_est]
porcentaje_de_datos_a_una_desv_est_del_promedio = dentro_de_masmenos_una_desv_est.shape[0] * 100 / total_muestras
porcentaje_de_datos_a_una_desv_est_del_promedio

90.3903903903904

In [ ]:
## 5. Obtén el porcentaje de muestras que están a una distancia de 2 desviaciones estándares del promedio.
menos_dos_desv_est = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'] >= (media - 2*desv_est)
mas_dos_desv_est = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'] <= (media + 2*desv_est)
dentro_de_masmenos_dos_desv_est = df_meteoritos[menos_dos_desv_est & mas_dos_desv_est]
porcentaje_de_datos_a_dos_desv_est_del_promedio = dentro_de_masmenos_dos_desv_est.shape[0] * 100 / total_muestras
porcentaje_de_datos_a_dos_desv_est_del_promedio

96.3963963963964

In [ ]:
## 6. Obtén el porcentaje de muestras que están a una distancia de 3 desviaciones estándares del promedio.
menos_tres_desv_est = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'] >= (media - 3*desv_est)
mas_tres_desv_est = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'] <= (media + 3*desv_est)
dentro_de_masmenos_tres_desv_est = df_meteoritos[menos_tres_desv_est & mas_tres_desv_est]
porcentaje_de_datos_a_tres_desv_est_del_promedio = dentro_de_masmenos_tres_desv_est.shape[0] * 100 / total_muestras
porcentaje_de_datos_a_tres_desv_est_del_promedio

97.89789789789789

In [ ]:
## 7. Compara los porcentajes obtenidos y comenta con tus compañeros y la experta tus hallazgos. ¿Qué significa esto? ¿La definición de desviación estándar tiene sentido? ¿Qué puedo inferir acerca de la dispersión de mis datos a partir de los valores obtenidos?

***
***

**Estadísticos de Orden**

Existen otras formas de calcular la dispersión de nuestros datos que requieren que nuestros datos estén ordenados ascendentemente. Estos cálculos nos dan otra perspectiva acerca de la distribución de nuestros datos que puede sernos de mucha utilidad.

Tres de los estadísticos de orden más comunes son el **Rango**, los **Percentiles** y el **Rango intercuartílico**. Veamos cómo funcionan.

## Ejemplo 4: Estadísticos de Orden

### 1. Objetivos:
    - Aprender a calcular el rango y los percentiles usando pandas
 
---
    
### 2. Desarrollo:

#### Rango

El rango es simplemente la diferencia entre el valor máximo de un conjunto y el valor mínimo de un conjunto. Por lo tanto, podemos obtenerla de esta manera:

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/BEDU2023F3/Remoto_Datasets/Remoto melbourne_housing-clean.csv', index_col=0)

In [ ]:
df.head()

,suburb,address,rooms,type,price,method,seller_g,date,distance,postcode,bedroom_2,bathroom,car,land_size,council_area,latitude,longitude,region_name,property_count
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
df['price'].max() - df['price'].min()

8915000.0

#### Percentiles

El percentil `P` es un valor que indica que por lo menos `P%` de los valores en el conjunto tienen este valor o un valor menor; mientras que `(100-P)%` de los valores tienen este valor o un valor mayor. Por ejemplo, para obtener el percentil 80 primero ordenamos nuestro conjunto de manera ascendente y después elegimos un valor de manera que el 80% de los valores en nuestro conjunto sean iguales o menores a ese valor.

En `pandas`, los percentiles están implementados como cuantiles, que es lo mismo que los percentiles pero en versión fracciones. Es decir, el percentil 80 es lo  mismo que el cuantil 0.8.

In [ ]:
df['price'].quantile(0.8)

1440000.0

En este caso, el 80% de los valores en nuestro conjunto de datos tienen un valor menor o igual a 1 440 000.

Como podrás ya haber imaginado, el valor mínimo equivale al percentil 0 y el valor máximo equivale al percentil 100, mientras que la mediana es exactamente igual que el percentil 50.

Sacando los percentiles podemos darnos una idea más o menos precisa de cómo están distribuidos nuestros datos.

Por ejemplo:

In [ ]:
print(f'Valor mínimo: {df["price"].min()}')
print(f'Percentil 10: {df["price"].quantile(0.1)}')
print(f'Percentil 25: {df["price"].quantile(0.25)}')
print(f'Percentil 50: {df["price"].median()}')
print(f'Percentil 75: {df["price"].quantile(0.75)}')
print(f'Percentil 90: {df["price"].quantile(0.9)}')
print(f'Valor máximo: {df["price"].max()}')

Valor mínimo: 85000.0
Percentil 10: 470000.0
Percentil 25: 640000.0
Percentil 50: 895500.0
Percentil 75: 1325000.0
Percentil 90: 1850000.0
Valor máximo: 9000000.0

Viendo estos números podemos inferir varias cosas:

- Casi todos nuestros datos están concentrados en valores menores a 2 000 000.
- Eso quiere decir que tenemos algunos valores atípicos *demasiado* grandes (si los comparamos con el resto de los valores)
- La mediana nos estaba dando un número más cercano al verdadero "valor típico" que el promedio.
- El promedio tenía un sesgo hacia arriba debido a los valores extremadamente grandes.
- El rango entre el valor máximo y mínimo no nos da una medida representativa de qué valores pueden tomar nuestros datos.

#### Rango intercuartílico

Otra medida muy común es lo que llamamos el rango intercuartílico, que es la diferencia entre el percentil 75 y el percentil 25. Este número nos da una idea del rango que tienen los valores más cercanos al valor típico.

En nuestro ejemplo, nuestro rango intercuartílico sería:

In [ ]:
df["price"].quantile(0.75) - df["price"].quantile(0.25)

685000.0

Podemos observar que el rango de los "valores típicos" es muchísimo menor al rango total de nuestros datos.

¡En la próxima sesión vamos a aprender a visualizar estas estadísticas para que las relaciones entre ellas queden mucho más claras!

## Reto 4: Estadísticos de orden

### 1. Objetivos:
    - 
 
---
    
### 2. Desarrollo:

#### a) Percentiles para evaluar la dispersión de nuestros datos

Tienes debajo 4 series. Cada una de esas series contiene un conjunto de datos conformado por números enteros en el intervalo de 1 a 10. Los datos en cada una de estas series tienen un tipo de dispersión distinta. Los valores típicos cambian así como los valores atípicos. Las medianas también son diferentes.

Usando percentiles, obtén información acerca de cuál es el valor donde están concentrados nuestros datos y cómo está configurada su dispersión. Entre más percentiles utilices, obtienes una descripción más detallada, pero como el dataset es muy pequeño, no necesitas tanta granularidad.

Obtén los percentiles y comenta con la experta y tus compañeros qué cosas podemos inferir acerca de nuestros datos utilizando estos valores.

In [ ]:
import pandas as pd

In [ ]:
# Pídele a la experta que te comparta las 4 series

import pandas as pd

serie_1 = pd.Series([1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10])
serie_2 = pd.Series([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10])
serie_3 = pd.Series([1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 10, 10])
serie_4 = pd.Series([1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10])

In [ ]:
print(f'Valor mínimo: {serie_1.min()}')
print(f'Percentil 10: {serie_1.quantile(0.1)}')
print(f'Percentil 25: {serie_1.quantile(0.25)}')
print(f'Percentil 50: {serie_1.median()}')
print(f'Percentil 75: {serie_1.quantile(0.75)}')
print(f'Percentil 90: {serie_1.quantile(0.9)}')
print(f'Valor máximo: {serie_1.max()}')

Valor mínimo: 1
Percentil 10: 2.0
Percentil 25: 3.75
Percentil 50: 5.0
Percentil 75: 7.25
Percentil 90: 9.0
Valor máximo: 10

In [ ]:
print(f'Valor mínimo: {serie_2.min()}')
print(f'Percentil 10: {serie_2.quantile(0.1)}')
print(f'Percentil 25: {serie_2.quantile(0.25)}')
print(f'Percentil 50: {serie_2.median()}')
print(f'Percentil 75: {serie_2.quantile(0.75)}')
print(f'Percentil 90: {serie_2.quantile(0.9)}')
print(f'Valor máximo: {serie_2.max()}')

Valor mínimo: 1
Percentil 10: 3.0
Percentil 25: 6.0
Percentil 50: 7.0
Percentil 75: 8.0
Percentil 90: 9.200000000000003
Valor máximo: 10

In [ ]:
print(f'Valor mínimo: {serie_3.min()}')
print(f'Percentil 10: {serie_3.quantile(0.1)}')
print(f'Percentil 25: {serie_3.quantile(0.25)}')
print(f'Percentil 50: {serie_3.median()}')
print(f'Percentil 75: {serie_3.quantile(0.75)}')
print(f'Percentil 90: {serie_3.quantile(0.9)}')
print(f'Valor máximo: {serie_3.max()}')

Valor mínimo: 1
Percentil 10: 4.0
Percentil 25: 5.0
Percentil 50: 5.0
Percentil 75: 6.0
Percentil 90: 7.0
Valor máximo: 10

In [ ]:
print(f'Valor mínimo: {serie_4.min()}')
print(f'Percentil 10: {serie_4.quantile(0.1)}')
print(f'Percentil 25: {serie_4.quantile(0.25)}')
print(f'Percentil 50: {serie_4.median()}')
print(f'Percentil 75: {serie_4.quantile(0.75)}')
print(f'Percentil 90: {serie_4.quantile(0.9)}')
print(f'Valor máximo: {serie_4.max()}')

Valor mínimo: 1
Percentil 10: 2.0
Percentil 25: 2.5
Percentil 50: 3.0
Percentil 75: 5.0
Percentil 90: 8.0
Valor máximo: 10

#### b) Percentiles para evaluar nuestro dataset de meteoritos

Ahora vamos a aplicar los percentiles a nuestro dataset de objetos que han orbitado cerca de la Tierra. Queremos entender cómo están organizados nuestros datos.

En el Reto pasado, usamos la desviación estándar para obtener la "desviación esperada" de nuestros datos. Aprendimos que la mayoría de nuestros datos están a una distancia de 1 desviación estándar o menos del promedio. Entre más desviaciones estándares añadíamos, menos datos quedaban fuera de nuestros subconjuntos. Lo que no sabemos es dónde están concentrados nuestros datos.

Piensa en lo siguiente:

Si tenemos un dataset con rango de 1 a 10, y nuestra desviación estándar es 2.5, los datos pueden estar organizados de maneras muy distintas:

- Podría ser que el promedio es 3 y que la mayoría de los datos están en el rango de 0.5 a 5.5. En este caso podría haber datos muy distintos al resto en el parte superior del rango total (los valores entre 5.5 y 10).
- Podría ser que el promedio es 7 y que la mayoría de los datos están en el rango de 4.5 a 9.5. En este caso los datos atípicos estarían concentrados en la parte inferior del rango total.
- Podría ser que el promedio es 5 y que la mayoría de los datos están concentrados en el rango de 2.5 a 7.5. En este caso, lo más normal es que los datos estén alrededor del valor que está justo a la mitad del rango total y es cada vez más raro encontrar datos muy pequeños o muy grandes.

Hay muchas otras posibilidades, pero lo importante es darse cuenta de que saber solamente la desviación estándar nos da aún una descripción muy ambigua de nuestros datos. Saber el promedio ya es un primer indicador de lo que está pasando en realidad. Pero saber además los percentiles nos puede dar una idea muchísimo más clara de cómo están acomodados nuestros datos.

Lee el dataset 'near_earth_objects-jan_feb_1995-clean.csv' y obtén percentiles de la columna 'estimated_diameter.meters.estimated_diameter_max'. Comenta con tus compañeros y con la experta tus hallazgos y tus hipótesis acerca de qué podemos aprender sobre la organización de nuestros datos usando los percentiles.

In [ ]:
df_meteoritos = pd.read_csv('/content/drive/MyDrive/BEDU2023F3/Remoto_Datasets/Remoto near_earth_objects-jan_feb_1995-clean.csv', index_col=0)
print(f'Valor mínimo: {df_meteoritos["estimated_diameter.meters.estimated_diameter_max"].min()}')
print(f'Percentil 10: {df_meteoritos["estimated_diameter.meters.estimated_diameter_max"].quantile(0.1)}')
print(f'Percentil 25: {df_meteoritos["estimated_diameter.meters.estimated_diameter_max"].quantile(0.25)}')
print(f'Percentil 50: {df_meteoritos["estimated_diameter.meters.estimated_diameter_max"].median()}')
print(f'Percentil 75: {df_meteoritos["estimated_diameter.meters.estimated_diameter_max"].quantile(0.75)}')
print(f'Percentil 90: {df_meteoritos["estimated_diameter.meters.estimated_diameter_max"].quantile(0.9)}')
print(f'Valor máximo: {df_meteoritos["estimated_diameter.meters.estimated_diameter_max"].max()}')

Valor mínimo: 2.978790628
Percentil 10: 28.4472296503
Percentil 25: 62.2357573367
Percentil 50: 215.7943048444
Percentil 75: 517.6544821978
Percentil 90: 986.3702813054
Valor máximo: 6516.883821679

***
***
***

# **Retos**

# Reto 2: Estimados de locación

## 1. Objetivos:
- Implementar los algoritmos para obtener estimados de locación sin utilizar los métodos builtin de pandas
 
---
    
## 2. Desarrollo:

### a) Implementando estimados de locación

Este Reto va a consistir en implementar el promedio y la mediana sin utilizar los métodos `mean` y `median` que vienen incluidos en `pandas`. Implementar algoritmos desde 0 es una excelente práctica que nos ayuda a entenderlos mejor y recordarlos con más precisión.

Puedes utilizar `pandas` y otras funciones vectorizadas o de reducción. Las únicas funciones que no están permitidas son `mean` y `median`. Las dos funciones que vas a crear deben recibir una serie de `pandas` y regresar un solo número.

In [8]:
import pandas as pd
import numpy as np

def promedio_custom(serie):
    lista_values = serie.to_list()
    suma_values = sum(lista_values)
    numero_de_values = len(lista_values)
    promedio = suma_values / numero_de_values
    return promedio

def mediana_custom(serie):
    lista_values = serie.to_list()
    lista_values.sort() # Se ordena de menor a mayor
    numero_de_values = len(lista_values)
    if numero_de_values%2 > 0: # Si es impar
        idx_mediana = numero_de_values // 2
        mediana = lista_values[idx_mediana]
        return mediana
    else: # Si es par
        idx_mediana_01 = numero_de_values // 2
        idx_mediana_02 = idx_mediana_01 - 1
        mediana = (lista_values[idx_mediana_01] + lista_values[idx_mediana_02])/2
        return mediana

### b) Estimados de locación de diámetros de meteoritos

Ahora vamos a utilizar nuestras funciones custom para obtener estimados de locación de un conjunto de datos que contiene información acerca de objetos que orbitaron cerca de la Tierra durante el periodo de enero y febrero de 1995.

El dataset se llama 'near_earth_objects-jan_feb_1995-clean.csv' y la columna que vamos a analizar se llama 'estimated_diameter.meters.estimated_diameter_max'. Esta columna contiene el diámetro máximo estimado de cada objeto.

El reto es el siguiente:

1. Lee el dataset usando `pandas`.
2. Obtén el promedio y la mediana usando tus funciones custom y asígnalas a `promedio_diametro` y `mediana_diametro`.

In [9]:
# Lee el dataset y asígnalo a esta variable
df_meteoritos = pd.read_csv("https://raw.githubusercontent.com/jaeem006/beduadp/master/Datasets/near_earth_objects-jan_feb_1995-clean.csv")

In [10]:
promedio_diametro = promedio_custom(df_meteoritos['estimated_diameter.meters.estimated_diameter_max'])
promedio_diametro

410.0860422397653

In [11]:
df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean()

410.08604223976545

In [12]:
mediana_diametro = mediana_custom(df_meteoritos['estimated_diameter.meters.estimated_diameter_max'])
mediana_diametro

215.7943048444

In [13]:
df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].median()

215.7943048444

***
***

# Reto 3: Desviación estándar

## 1. Objetivos:
- Utilizar la desviación estándar para realizar un análisis de dispersión de nuestros datos
 
---
    
## 2. Desarrollo:

### a) Desviación estándar y distribución de los datos

Como ya vimos, la desviación estándar es la medida que nos da la "desviación típica" (o esperada) de nuestros datos a comparación del promedio. Eso quiere decir que normalmente vamos a esperar que una gran parte de nuestros datos se encuentren a 1 desviación estándar de distancia del promedio. Entre más nos alejamos, menos muestras deberíamos de encontrar.

Vamos a comprobar esto usando nuestro dataset de meteoritos que orbitan cerca de la Tierra. Tu Reto consiste en los siguientes pasos:

1. Crea un DataFrame con el dataset `near_earth_objects-jan_feb_1995-clean.csv`.
2. Obtén la cantidad total de datos en tu DataFrame.
3. Obtén la desviación estándar de la columna 'estimated_diameter.meters.estimated_diameter_max'. Los siguientes pasos realízalos todos utilizando esta columna.
4. Obtén el porcentaje de muestras que están a una distancia de 1 desviación estándar del promedio.
5. Obtén el porcentaje de muestras que están a una distancia de 2 desviaciones estándares del promedio (multiplicar * 2).
6. Obtén el porcentaje de muestras que están a una distancia de 3 desviaciones estándares del promedio (multiplicar * 3).
7. Compara los porcentajes obtenidos y comenta con tus compañeros y la experta tus hallazgos. ¿Qué significa esto? ¿La definición de desviación estándar tiene sentido? ¿Qué puedo inferir acerca de la dispersión de mis datos a partir de los valores obtenidos?

> Nota: Para obtener los porcentajes de los subconjuntos primero necesitas filtrar el DataFrame original para que sólo permanezcan las muestras que cumplan con los requisitos.

> Nota: Este Reto está diseñado para tener una dificultad media. No te frustres si al principio parece demasiado difícil. Comienza poco a poco, resolviendo el problema en pedazos pequeños, y si no tienes la menor idea de cómo proceder recuerda que la experta está ahí para ayudarte.

### Puntos 1 al 3

In [1]:
# Carga de bibliotecas
import numpy as np
import pandas as pd

### 1. Crear DataFrame

In [2]:
df_meteoritos = pd.read_csv("https://raw.githubusercontent.com/jaeem006/beduadp/master/Datasets/near_earth_objects-jan_feb_1995-clean.csv", index_col= 0)

### 2. Cantidad de datos en el DataFrame (filas)

In [3]:
num_filas = df_meteoritos.shape[0]
print(f"El DataFrame tiene {num_filas} filas")
df_meteoritos

El DataFrame tiene 333 filas

,id,name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour
0,2154652,154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,789467580000,Earth,16.142864,58114.308667
1,3153509,(2003 HM),True,96.506147,215.794305,1995-01-07,789491340000,Earth,12.351044,44463.757734
2,3516633,(2010 HA),False,44.111820,98.637028,1995-01-07,789446820000,Earth,6.220435,22393.567277
3,3837644,(2019 AY3),False,46.190746,103.285648,1995-01-07,789513900000,Earth,22.478615,80923.015021
4,3843493,(2019 PY),False,22.108281,49.435619,1995-01-07,789446700000,Earth,4.998691,17995.288355
...,...,...,...,...,...,...,...,...,...,...
328,2267136,267136 (2000 EF104),False,441.118200,986.370281,1995-02-21,793340220000,Earth,16.180392,58249.410194
329,3360486,(2006 WE4),False,441.118200,986.370281,1995-02-21,793381440000,Earth,15.106140,54382.104639
330,3656919,(2014 BG3),False,160.160338,358.129403,1995-02-21,793368480000,Earth,20.343173,73235.423517
331,3803762,(2018 GY4),False,421.264611,941.976306,1995-02-21,793371240000,Earth,29.732426,107036.733058
332,3989652,(2020 CH1),False,21.525586,48.132673,1995-02-21,793404900000,Earth,6.998083,25193.097928

### 3. Obtén la desviación estándar de la columna 'estimated_diameter.meters.estimated_diameter_max'. 

### Los siguientes pasos realízalos todos utilizando esta columna.

In [14]:
std_diametros = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].std()

# Tambien la media
media_diametros = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean()

print(f"La media aritmetica es {media_diametros}")
print(f"La desviacion estandar es {std_diametros}")

La media aritmetica es 410.08604223976545
La desviacion estandar es 614.6915918552232

### ¿Qué significa que un dato esté a 1, 2 o 3 desviaciones estándar?

Supongamos que contamos con una arreglo (lista, vector, columna, `pandas.Series` o lo que gustes). Vamos a llamar a este arreglo $\vec{\mathrm{x}}$, el cual esta conformado por $n$ número de elementos.

Entonces una vista de $\vec{\mathrm{x}}$ sería:


\begin{equation*}
\vec{\mathrm{x}} = \{x_1, x_2, x_3, \cdots , x_n\}
\end{equation*}

Este arreglo de elementos o conjunto de datos $\vec{\mathrm{x}}$, tiene un promedio $\mu$ y una desviación estándar $\sigma$. 


Ahora ¿cómo sabemos que tan dispersos están nuestros datos? ¿cuánta variabilidad hay de lo "típico (que tan alejados del promedio $\mu$ están)?

Es importante definir una métrica, algo con que medir que tan lejos están los datos del promedio. Nuestra _regla_ o con lo que vamos a medir será la desviación estándar $\sigma$. Es por eso que se dice que un dato se encuentra a 1$\sigma$, 2$\sigma$ o 3$\sigma$.

Tomemos en cuenta que los elementos de un conjunto de datos se pueden expresar como la media $\mu$ más o menos $z$ veces la desviación estándar $\sigma$

\begin{equation*}
x_i = \mu \, + \, z_i \sigma
\end{equation*}

Donde $x_i$ es un dato de nuestro conjunto $\vec{\mathrm{x}}$ y $z_i$ la podemos llamar nuestra distancia, es a cuántas desviaciones estándar $\sigma$ esta nuestro dato del promedio $\mu$. En algunas ocasiones $z_i$ será negativa, en ese caso, tomaremos el valor absoluto, ya que solo no importa el número, no tanto el signo que tenga y la representaremos como $\mathbf{z_i}$.

### ¿Y como podemos calcular $z_i$ en nuestro conjunto de datos?

Bueno, empecemos tomando la ecuación que se mostró anteriormente. Como es una ecuación, significa que lo que está de un lado es igual a lo que está del otro. Esto nos dice que si modificamos un lado, tenemos que hacer lo mismo del otro lado, sea sumar, restar, dividir o multiplicar, lo que hago de un lado, lo tengo que hacer del otro.

\begin{align*}
x_i &= \mu \, + \, z_i \sigma \\
x_i - \mu &= \mu \, + \, z_i \sigma - \mu \\
x_i - \mu &=  \, z_i \sigma \\
\frac{x_i - \mu}{\sigma} &=  \frac{z_i \sigma}{\sigma} \\
\frac{x_i - \mu}{\sigma} &=  z_i
\end{align*}

De la última ecuación, tomaremos solo el valor absoluto de los resultados para poder obtener $\mathbf{z_i}$.

\begin{equation*}
\mathbf{z_i} = \left| \frac{x_i - \mu}{\sigma} \right| =  \left| z_i \right|
\end{equation*}

Bueno, esta ecuación dice que para encontrar a cuántas desviaciones estándar se encuentra un dato del _dataset_ hay que encontrar la diferencia (o resta) entre el dato y el promedio, y después dividirlo entre la desviación estándar.

### Ejemplo con código

Vamos a ver un ejemplo con código. Para ello vamos a dar un promedio y desviación estándar, de esta manera usaremos pocos datos para poder ver bien lo que estamos haciendo

In [5]:
mu_ejemplo = 10   # Promedio
sigma_ejemplo = 3 # Desviación estándar

x = [7,9,12,15,11,10,12,6,4] # Conjunto de datos

In [15]:
# Crear funcion que calcule distancias en terminos de desviacion estandar
def distancia_en_desviacion_estandar(xi, promedio = mu_ejemplo, desviacion_estandar = sigma_ejemplo):
    diferencia_dato_promedio = xi - promedio
    ai = diferencia_dato_promedio / desviacion_estandar
    distancia_desviacion_estandar = abs(ai)
    return distancia_desviacion_estandar

print("Conjunto de datos")
print(x)
print(" ")
print("Número de desviaciones estándar entre los datos y el promedio")
print(list(map(distancia_en_desviacion_estandar, x)))

Conjunto de datos
[7, 9, 12, 15, 11, 10, 12, 6, 4]

Número de desviaciones estándar entre los datos y el promedio
[1.0, 0.3333333333333333, 0.6666666666666666, 1.6666666666666667, 0.3333333333333333, 0.0, 0.6666666666666666, 1.3333333333333333, 2.0]

### Resto de los puntos

Para poder encontrar los datos que se encuentran a 1, 2 y 3 desviaciones estándar, vamos a crear una columna que se llame `'numero_std_de_media'` que contenga las distancias entre el dato y el promedio en términos de desviaciones estándar.

No es necesario crear una función como la de la explicación. Podemos trabajar directamente con las columnas.

In [16]:
df_meteoritos['numero_std_de_media'] = abs((df_meteoritos['estimated_diameter.meters.estimated_diameter_max'] \
                                            - df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean())\
                                           /df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].std())

In [17]:
# 4. Obtén el porcentaje de muestras que están a una distancia de 1 desviación estándar del promedio.
mask_1 = df_meteoritos['numero_std_de_media'] <= 1
df_meteoritos[mask_1].shape[0] / num_filas

0.9039039039039038

In [18]:
# 5. Obtén el porcentaje de muestras que están a una distancia de 2 desviaciones estándares del promedio (multiplicar * 2).
mask_2 = df_meteoritos['numero_std_de_media'] <= 2
df_meteoritos[mask_2].shape[0] / num_filas

0.963963963963964

In [19]:
# 6. Obtén el porcentaje de muestras que están a una distancia de 3 desviaciones estándares del promedio (multiplicar * 3).
mask_3 = df_meteoritos['numero_std_de_media'] <= 3
df_meteoritos[mask_3].shape[0] / num_filas

0.978978978978979

In [ ]:
# 7. Compara los porcentajes obtenidos y comenta con tus compañeros y la experta tus hallazgos. ¿Qué significa esto?
#    ¿La definición de desviación estándar tiene sentido? ¿Qué puedo inferir acerca de la dispersión de mis datos a partir 
#    de los valores obtenidos?

***
***

# Reto 4: Estadísticos de orden
   
## 1. Desarrollo:

#### a) Percentiles para evaluar la dispersión de nuestros datos

Tienes debajo 4 series. Cada una de esas series contiene un conjunto de datos conformado por números enteros en el intervalo de 1 a 10. Los datos en cada una de estas series tienen un tipo de dispersión distinta. Los valores típicos cambian así como los valores atípicos. Las medianas también son diferentes.

Usando percentiles, obtén información acerca de cuál es el valor donde están concentrados nuestros datos y cómo está configurada su dispersión. Entre más percentiles utilices, obtienes una descripción más detallada, pero como el dataset es muy pequeño, no necesitas tanta granularidad.

Obtén los percentiles y comenta con la experta y tus compañeros qué cosas podemos inferir acerca de nuestros datos utilizando estos valores.

In [20]:
import pandas as pd

serie_1 = pd.Series([1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10])
serie_2 = pd.Series([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10])
serie_3 = pd.Series([1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 10, 10])
serie_4 = pd.Series([1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10])

In [21]:
# Primera pandas.Series
serie_1.quantile([0.05, 0.25, 0.5, 0.75, 0.95])

0.05     1.00
0.25     3.75
0.50     5.00
0.75     7.25
0.95    10.00
dtype: float64

In [22]:
# Segunda pandas.Series
serie_2.quantile([0.05, 0.25, 0.5, 0.75, 0.95])

0.05     2.0
0.25     6.0
0.50     7.0
0.75     8.0
0.95    10.0
dtype: float64

In [23]:
# Tercera pandas.Series
serie_3.quantile([0.05, 0.25, 0.5, 0.75, 0.95])

0.05    3.0
0.25    5.0
0.50    5.0
0.75    6.0
0.95    8.0
dtype: float64

In [24]:
# Cuarta pandas.Series
serie_4.quantile([0.05, 0.25, 0.5, 0.75, 0.95])

0.05    1.0
0.25    2.5
0.50    3.0
0.75    5.0
0.95    9.0
dtype: float64

***
***
***

## **Postwork**

## Nombre del Postwork: Obteniendo estimados de locación y variabilidad

### OBJETIVO 

- Utilizar estimados de locación y variabilidad para describir las columnas numéricas de un dataset.

#### REQUISITOS 

- Niguno

#### DESARROLLO

Si estuviste en el módulo anterior, eso quiere decir que ya tienes identificado un problema, te has planteado preguntas acerca del problema, has encontrado un conjunto de datos que crees que te puede ayudar a responder tus preguntas y lo has limpiado y estructurado de manera que está listo para ser analizado.

Si no estuviste en el módulo anterior, no te preocupes. Puedes tomarte un poco de tiempo para plantearte qué proyecto quieres realizar durante este módulo.

---

**Si NO estuviste en el módulo de Procesamiento de Datos realiza antes la siguiente actividad con la ayuda de tu experta**

---

1. Elige un problema que te parezca interesante o atractivo. Ayuda que sea un tema que conozcas bien, pero no es absolutamente necesario que esa condición se cumpla.
2. Plantéate una serie de preguntas acerca de este problema o situación que te parezca que tal vez puedas responder usando análisis de datos.
3. Encuentra un dataset que tenga datos que te puedan ser útiles para responder a tus preguntas. Puedes buscar en las siguientes fuentes:

- [Kaggle](https://www.kaggle.com/)
- [FiveThirtyEight](https://data.fivethirtyeight.com/)
- [BuzzFeed News](https://github.com/BuzzFeedNews)
- [Awesome Public Datasets](https://github.com/awesomedata/awesome-public-datasets)
- [UCL Machine Learning Repository](http://archive.ics.uci.edu/ml/index.php)
- [Academic Torrents](http://academictorrents.com/browse.php)
- [Quandl](https://www.quandl.com/search)

4. Realiza una limpieza general de tu dataset (eliminación de NaNs, renombramiento de índice y columnas, formateo de strings, etc) para que esté listo para ser analizado

---

**Lo que sigue es para TODOS los estudiantes, hayan estado en el módulo de Procesamiento de Datos o no.**

---

Vamos a usar estimados de locación y variabilidad para describir nuestro dataset. Ya tenemos un dataset limpio, así que ahora toca extraer información útil de él.

Recuerda que sólo es posible obtener estimados de locación y variabilidad cuando tenemos datos numéricos (tanto discretos como continuos). La actividad consiste en lo siguiente:

1. Identifica las columnas de tu dataset que tengan datos numéricos.
2. Identifica la relevancia de esas columnas (qué tan importantes son para responder a tus preguntas).
3. Obtén los siguientes estimados de tus columnas numéricas:

  a) Promedio
  b) Mediana
  c) Media Truncada
  d) Desviación estándar
  e) Rango
  f) Percentiles 25 y 75 (por lo menos)
  g) Rango intercuartil
  
Comenta con tus compañeros qué has aprendido sobre tus datos al estudiar estas medidas.